.nav ul {
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 10px;
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.menu img {
    width: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-left {

h2 {
    font-size: 58px;
}
p {
    font-size: 20px;
    font-weight: 400;
    margin-top: -30px;
    word-spacing: 5px;
}
img {
    margin-bottom: -6px;
    margin-left: 6px;
}
}

.btn-w {
    border-radius: 30px;
    padding: 10px;
    width: 160px;
    border: 1px solid ;
    font-size: 18px;
    font-weight: 500; 
    margin-left: 10px;
    cursor: pointer;
}

.btn-or {
    background-color: #e94d35;
    color: white;
    @extend .btn-w
}

.s-1 {
    background-color: black;
    height: 250px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.sol {
    width: 220px;
    height: 182px;
    border: 2px solid #E94D35;
    border-radius: 0 51px 0 0;
    text-align: center;
    h3 {
        font-size: 50px;
        font-weight: 700;
        margin: 30px 0 -20px;
    }
    span {
        font-size: 16px;
        text-transform: uppercase;
    }
    img {
        margin-top: -20px;
        margin-left: -150px;
    }
}

.dash {
    border: 2px dashed #E94D35;
    @extend .sol
}

.s-2 {
    margin: 200px auto;
    width: 90%; 
    position: relative;
}

.pat {
    position: absolute;
    left: -70px;
    top: -55px;
}

.ell {
    position: absolute;
    right: -75px;
    top: 180px;

}

.logo-2 {
    display: flex;
    justify-content: space-evenly;  
}

.services {
    text-align: center;
    h2 {
        font-size: 45px;
        font-weight: 600;
    }
}

.services-f {
    display: flex;
    justify-content: space-between;
}

.side-f {
    width: 32%;
    height: 320px;
    background-color:#E6E3DE;
    text-align: center;
    h3 {
        font-size: 31px;
        font-weight: 500; 
    }
    P {
        font-size: 16px;
        font-weight: 300;
        color: #312523;   
    }
    img {
        margin-top: 60px;
    }
}

.middle-f {
    background-color: #E94D35;
    h3,p {
        color: white;
    }
    @extend .side-f
}

.image-text {
    // display: flex;
    justify-content: space-between;
    margin: 40px 0 100px;
    .image {
        width: 45%;
    }
    .text {
        width: 52%;
        margin: auto 0;  
    }
    .t {
        background-color: #E94D35;
        color: #FFFFFF;
        font-size: 18px; 
        width: 188px;
        padding: 10px;
        text-align: center;
    }
    .m {
        font-size: 45px;
        margin: 20px 0;
    }
    .b {
        border-radius: 30px;
        border: 1px solid #E94D35;
        width: 140px;
        padding: 7px;
    }
}
@media screen and (min-width:1024px){
    .image-text {
        display: flex;
    }
}

.portfolio {
    position: relative;
}
.ell-1 {
    position: absolute;
    right: -180px;
}

.pat-1 {
    position: absolute;
    left: -175px;
}

.s-5 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px !important;
}
.contact {
    width: 40%;
    h2 {
        font-size: 45px;
        font-weight: 500;
    }
    p {
        font-size: 20px;
    }
}

.a-c-e {
    display: flex;
    align-items: center;
    margin: 30px 0;
    img {
        height: 58px;
    }
    div {
        margin-left: 15px;
    }
}
.col {
    color: #00000073;
}

.forma {
    width: 55%;
    position: relative;
    h2 {
        font-size: 45px;
        font-weight: 500;
    }
}
 input {
    border-radius: 20px;
    border: 1px solid #00000073;
    padding: 15px;
    width: 42%;
    margin: 20px 0;
    font-size: 20px;
 }
 .mar {
    margin-left: 10px;
 }

 textarea {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 20px;
 }

 .sub {
    background-color: #e94d35;
    color: #FFFFFF;
    border: #E94D35;
    width: 35%;
    border-radius: 30px;
    padding: 10px;
 }

 .pat-2 {
    position: absolute;
    right: 0;
    right: -180px;
 }

 .fr-1 {
    height: 175px;
    background-color: #E6E3DE;
    display: flex;
    align-items: center;
    p {
        margin-left: 15%;
        font-size: 23px;
    }
    input {
        margin-left: 23%;
        width: 23%;
        border-radius: 30px;
        border: 2px solid #E94D35;
        background-color: #E6E3DE;  
    }
    button {
        margin-left: 1%;
        padding: 17px;
        width: 130px;
        border-radius: 30px;
        background-color:#E94D35;
        color: #FFFFFF;
        border: #E94D35;
        font-size: 20px;   
    }
 }

 .fr-2 {
    height: 200px;
    background-color: black;
    
    p {
        color: #F2F1EF;
        font-size: 20px;
        text-align: center;
    }
 }

 .f-black {
    display: flex;
    align-items: center;
    span {
        color: white;
        font-size: 20px;
    }
    .i-1 {
        margin-left: 16%;
    }
    .i-2 {
        margin-left: 10px;
    }
    .i-3 {
        margin-left: 50px;
    }
    .i-4 {
        margin-left: 18px;
    }
    .sp-1 {
        margin-left: 25%;
 }
 .sp-2 {
    margin-left: 50px;
 }
}
