body {
    margin: 0;
}

.unit1 {
    background-size: cover;
    background-image: url(./assets/1616984372_48-p-baiker-oboi-49.jpg);
}

.bg {
    background-color: rgba(0, 0, 0, .7);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    margin: 16px 0 0 40px;
}

.nav__list {
    list-style-type: none;
    li {
        display: inline;
        margin-right: 40px;
    }
    a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        color: #BCBCBC;
    }
}

h1 {
    color: #CFA688;
    font-size: 60px;
    font-weight: 530;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
    font-family: initial;
}

.num-text {
    display: flex;
    justify-content: center;
}

.num {
    font-size: 46px;
    color:  #F8F8F8;
    font-weight: 500;
}

.text {
    color: #BCBCBC;
    font-size: 18px;
    margin: 3px 0 0 15px;
}

.but {
    text-align: center;
    margin-top: 20px;
    button {
        color: #BCBCBC;
        font-size: 18px;
        padding: 10px 30px;
        background-color: black;
        border: 0;
    }
}

.bottom-foto {
    display: flex;
    justify-content: space-between;
    .middle img {
        height: 400px;
        margin-top: -100px;
    }
}

.left img {
    margin: 0 0 -275px 30px;
}
.right img {
    margin: 0 30px -275px 0;
}

.m-text {
    width: 350px;
    margin: 0 auto;
}

.l-text {
    color:#CFA688;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 60px 0 20px;
}
.s-text {
    text-align: center;
    color: #BCBCBC;
}

.moto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 30px;
}
.moto2 {
    text-align: center;
    color: #CFA688;
    font-size: 18px;
    text-transform: uppercase;
    img {
        width: 95%;
    }
}

.moto1 {
    text-align: center;
    color: #CFA688;
    font-size: 18px;
    text-transform: uppercase;
    img {
        width: 90%;
    }
}
.moto3 {
    text-align: center;
    color: #CFA688;
    font-size: 18px;
    text-transform: uppercase;
    img {
        width: 90%;
    }
}
.icon-left {
    margin-left: 30px;
}
.icon-right {
    margin-right: 30px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
.bottom-left img {
    margin: 70px 0 0 20px;
}
.bottom-right img {
    margin: 70px 20px 0 0;
}
.bottom-middle{
    text-align: center;
    width: calc( - 30%);
    img {
    width: 80%;
}
}




